/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  padding: 2rem 1rem 1rem;
  background: #F0F2F9;
  color: #071d49;
  font: 16px/1.5 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.field {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
}

.field > label,
.field > input,
.field > select {
  width: 50%;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

label {
  font-weight: bold;
}

input, select {
  height: 2rem;
  padding: 0.75rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,.2);
}

button {
  background: #071d49;
  color: #FFF;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
